aiogram==3.13.1
sqlalchemy==2.0.36
alembic==1.14.0
asyncpg==0.30.0
aiosqlite==0.20.0
redis==5.2.1
fakeredis==2.24.1
aiohttp>=3.9.0,<3.11
python-dotenv==1.0.1
pydantic-settings==2.6.1
apscheduler==3.10.4
